<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>TMexercise</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/octicons/octicons.css">
    <!-- endbuild -->
   
  </head>
  
     
<body>


<!-- ======TOPWRAPPER====== -->
<div class="topwrapper">
    <span class="octicon octicon-mark-github"></span>
    <span class="search">
      <p>Search Github</p></span>
    <span class="explore">
      <li>Explore</li></span>
    <span class="gist">
      <li>Gist</li></span>
    <span class="blog">
      <li>Blog</li></span>
    <span class="help">
      <li>Help</li></span>
    <span class="shane"> <img src="images/shane_mug.jpg" width="15px"> </span>
    <span class="shane40"><li>Shane40</li> </span>
        <span class="icons">
          <span class="octicon octicon-plus"> </span>
          <span class="octicon octicon-triangle-down"></span>
          <span class="octicon octicon-inbox"></span>
          <span class="octicon octicon-gear"></span>
          <span class="octicon octicon-sign-in"></span>
        </span>

</div>






<!-- ========TABS======= -->

<div class="midtabs">
    <span class="octicon octicon-diff-added"></span>
    <span class="contrib">
      <li>Contributions</li></span>
    <span class="octicon octicon-repo"></span>
    <span class="repositories">
      <li>Repositories</li></span>
    <span class="octicon octicon-rss"></span>
    <span class="publica">
      <li>Public Activity</li></span>

    <span class="octicon octicon-pencil"></span>
    <span class="profile">
      <li>Edit profile</li></span>
</div>

<!-- 
=======BOTTOM TABS======== -->

<div class="bottomtabs">
  <span class="find">
      <li>Find a repository</li></span>
    <span class="searchnew">
      <li>Search</li></span>
     <span class="all">
      <li>All</li></span>
    <span class="public">
      <li>Public</li></span>
    <span class="private">
      <li>Private</li></span>
    <span class="sources">
      <li>Sources</li></span>
    <span class="forks">
      <li>Forks</li></span>
    <span class="mirrors">
      <li>Mirrors</li></span>
    <span class="secondocti">
    <span class="octicon octicon-repo">
    </span>
    <span class="new"> 
      <li>New</li></span>
</div>

<!-- =======END OF BOTTOM TABS======== -->



<!-- ======END OF TABS====== -->



<!-- =====LEFT SIDE===== -->
   
<!-- ========USER JS STUFF======== -->
<div class="some-user"></div>

<script type="text/template" id="user-template">
  <div class="biodiv">
      <img src="https://avatars.githubusercontent.com/u/10365759?v=3c" <%= avatar_url %>
      </>
      <h1>  <%= name %> </h1>
      <span class="h2"><h2>  <%= login %>
          </h2>
      </span>
      <span class="locale">   <li>  <%= location %>
      </li>
      </span>
      <span class="mail"> <li>  <%= email %>
      </li>
      </span>
      <span class="join"> <li>  <%= "Joined on " + created_at %>
      </li>
      </span>
      <span class="follow"><h3>  <%= followers %>
      </h3>
      </span>
       <span class="following"><h3>  <%= following %>
      </h3>
      </span>
       <span class="gists"><h3>  <%= public_gists %>
      </h3>

      </span>
      <span class="follo1">
      <li><a href="https://github.com/<%= login %>/followers"><div><%= followers %></div><div>Followers</div></a></li>
      </span>

      <span class="follo2">
      <li><a href="https://github.com/<%= login %>/starred"><div><%= starred %></div><div>Starred</div></a></li>
      </span>
      <span class="follo3">
      <li><a href="https://github.com/<%= login %>/following"><div><%= following %></div><div>Following</div></a></li>
      

</script>


<!-- ==========END OF USER JS STUFF========= -->

<!-- ============REPO JS STUFF======= -->
<div class="some-repo"></div>

<script type="text/template" id="repo-template">
    <h1 class="repohed">  <%= name %>
    </h1>
     <h1 class="descrip">  <%= description %>
    </h1>
    <h2 class="updatedat"><%= updated_at %>
    </h2>

</script>

<!-- ==========END OF REPO JS STUFF======= -->


<!-- ==============ORGS JS STUFF============== -->

<div class="some-org"></div>

<script type="text/template" id="org-template">
  <span class="orgicon">
  <li><a href="https://avatars.githubusercontent.com/u/10352544?v=3"><div><%= avatar %></div></a></li>
    </span>

</script>






<!-- ==============END OF ORGS JS STUFF========== -->





<footer>
  <li>© 2015 GitHub Inc.</li>
  <li> Terms </li>
  <li>Privacy</li>
  <li>Security</li>
  <li>Contact</li>
</footer>










    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        
        <!-- endbuild -->
        <script src="scripts/orgs.js"></script>
        <script src="scripts/repo.js"></script>
        <script src="scripts/starred.js"></script>
        <script src="scripts/user.js"></script>
        <script src="scripts/main.js"></script>


</body>
</html>
